<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.1/css/all.css">
<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-regular.css">
<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-duotone-solid.css">
<link href="https://fonts.googleapis.com/css2?family=Jaini&display=swap" rel="stylesheet" />

<div *ngIf="mostrarHeaderFooter">
  <Component-header></Component-header>
</div>
<router-outlet />
<div *ngIf="mostrarHeaderFooter">
  <app-footer></app-footer>
</div>