<section
  class="flex flex-col items-center justify-center text-center min-h-screen px-4 sm:px-6 lg:px-8"
>
  <div>
    <h1
      class="uppercase font-[Jaini] text-6xl sm:text-8xl md:text-9xl lg:text-[150px]"
    >
      <span class="text-red-500">{{ llaveIzq }}</span>
      <span class="text-blue-600">{{ llaveIzq }}</span>
      <span class="text-blue-600">Cine</span>
      <span class="text-red-500">Flix</span>
      <span class="text-blue-600">{{ llaveDer }}</span>
      <span class="text-red-500">{{ llaveDer }}</span>
    </h1>
  </div>

  <form
    class="w-full max-w-[90%] sm:max-w-[80%] md:max-w-3xl mt-6"
    [formGroup]="registerForm"
  >
    <div
      class="text-start text-xl sm:text-2xl md:text-3xl"
      *ngIf="activeTemplate === 'register1'"
    >
      <h2 class="font-semibold py-3 sm:py-4">Crear Cuenta</h2>
      <div>
        <label
          class="text-lg sm:text-xl md:text-2xl py-2 block text-gray-400 uppercase"
          for="nombre"
        >
          Nombre
        </label>
        <input
          class="w-full bg-gray-200 rounded-xl p-2 sm:p-3 shadow-md border border-gray-300 text-lg sm:text-xl md:text-2xl"
          type="text"
          formControlName="nombre"
          name="nombre"
          placeholder="Ingrese su nombre"
          id="nombre"
        />
        <div
          class="animate-fadeIn"
          *ngIf="
            registerForm.get('nombre')?.invalid &&
            registerForm.get('nombre')?.touched
          "
        >
          <p class="p-2 text-red-600 text-sm sm:text-base md:text-lg">
            Este campo es obligatorio
          </p>
        </div>

        <label
          class="text-lg sm:text-xl md:text-2xl py-2 block text-gray-400 uppercase"
          for="apellido"
        >
          Apellidos
        </label>
        <input
          class="w-full bg-gray-200 rounded-xl p-2 sm:p-3 shadow-md border border-gray-300 text-lg sm:text-xl md:text-2xl"
          type="text"
          formControlName="apellidos"
          name="apellidos"
          placeholder="Ingrese su apellido"
          id="apellido"
        />
        <div
          class="animate-fadeIn"
          *ngIf="
            registerForm.get('apellidos')?.invalid &&
            registerForm.get('apellidos')?.touched
          "
        >
          <p class="p-2 text-red-600 text-sm sm:text-base md:text-lg">
            Este campo es obligatorio
          </p>
        </div>
      </div>
      <div class="mt-6 sm:mt-8 md:mt-10 flex justify-center">
        <button
          [disabled]="registerForm.invalid"
          (click)="changeTemplate('register2')"
          class="p-2 sm:p-3 text-white rounded-xl bg-red-700 uppercase shadow-md flex items-center cursor-pointer text-lg sm:text-xl md:text-2xl"
        >
          Siguiente <span class="material-icons ml-2">arrow_forward</span>
        </button>
      </div>
    </div>
  </form>

  <div
    class="text-start text-xl sm:text-2xl md:text-3xl w-full max-w-[90%] sm:max-w-[80%] md:max-w-3xl mt-6"
    *ngIf="activeTemplate === 'register2'"
  >
    <h2 class="font-semibold mb-4 sm:mb-5 py-3 sm:py-4">Crear Cuenta</h2>
    <form [formGroup]="registerForm2">
      <label
        class="text-lg sm:text-xl md:text-2xl py-2 block text-gray-400 uppercase"
        for="email"
      >
        Correo Electrónico
      </label>
      <input
        class="w-full bg-gray-200 rounded-xl p-2 sm:p-3 shadow-md border border-gray-300 text-lg sm:text-xl md:text-2xl"
        type="email"
        name="email"
        formControlName="email1"
        placeholder="Ingrese su email"
        id="email"
      />
      <div
        class="animate-fadeIn p-2 text-red-600 text-sm sm:text-base md:text-lg"
        *ngIf="
          registerForm2.get('email1')?.invalid &&
          registerForm2.get('email1')?.touched
        "
      >
        <p *ngIf="registerForm2?.get('email1')?.errors?.['email']">
          Ingresa un email válido
        </p>
        <p *ngIf="registerForm2?.get('email1')?.errors?.['required']">
          Este campo es obligatorio
        </p>
      </div>

      <label
        class="text-lg sm:text-xl md:text-2xl py-2 block text-gray-400 uppercase"
        for="confirmEmail"
      >
        Confirmar Correo Electrónico
      </label>
      <input
        class="w-full bg-gray-200 rounded-xl p-2 sm:p-3 shadow-md border border-gray-300 text-lg sm:text-xl md:text-2xl"
        type="email"
        name="confirmEmail"
        formControlName="email2"
        placeholder="Ingrese de nuevo su email"
        id="confirmEmail"
      />
      <div
        class="animate-fadeIn p-2 text-red-600 text-sm sm:text-base md:text-lg"
        *ngIf="
          registerForm2.get('email2')?.invalid &&
          registerForm2.get('email2')?.touched
        "
      >
        <p *ngIf="registerForm2?.get('email2')?.errors?.['email']">
          Ingresa un email válido
        </p>
        <p *ngIf="registerForm2?.get('email2')?.errors?.['required']">
          Este campo es obligatorio
        </p>
      </div>

      <div [class.show]="showMessage">
        <p
          class="p-2 text-red-600 animate-fadeIn text-sm sm:text-base md:text-lg"
        >
          {{ errorMessage }}
        </p>
      </div>

      <div
        class="mt-6 sm:mt-8 md:mt-10 flex flex-col sm:flex-row justify-between gap-4"
      >
        <button
          (click)="changeTemplate('register1')"
          class="p-2 sm:p-3 text-white rounded-xl bg-gray-500 uppercase shadow-md flex items-center justify-center cursor-pointer text-lg sm:text-xl md:text-2xl"
        >
          <span class="material-icons mr-2">keyboard_backspace</span> Volver
        </button>
        <button
          [disabled]="registerForm2.invalid"
          (click)="
            validateEqual('email', 'confirmEmail', 'los emails no coinciden')
          "
          class="p-2 sm:p-3 text-white rounded-xl bg-red-700 uppercase shadow-md flex items-center justify-center cursor-pointer text-lg sm:text-xl md:text-2xl"
        >
          Siguiente <span class="material-icons ml-2">arrow_forward</span>
        </button>
      </div>
    </form>
  </div>

  <div
    class="text-start text-xl sm:text-2xl md:text-3xl w-full max-w-[90%] sm:max-w-[80%] md:max-w-3xl mt-6"
    *ngIf="activeTemplate === 'register3'"
  >
    <h2 class="font-semibold mb-4 sm:mb-5 py-3 sm:py-4">Crear Cuenta</h2>
    <form [formGroup]="registerForm3">
      <label
        class="text-lg sm:text-xl md:text-2xl py-2 block text-gray-400 uppercase"
        for="contraseña"
      >
        Contraseña
      </label>
      <input
        class="w-full bg-gray-200 rounded-xl p-2 sm:p-3 shadow-md border border-gray-300 text-lg sm:text-xl md:text-2xl"
        type="password"
        name="contraseña"
        placeholder="Ingrese su contraseña"
        id="contraseña"
        formControlName="contraseña"
      />
      <div
        class="text-red-500 animate-fadeIn text-sm sm:text-base md:text-lg"
        *ngIf="
          registerForm3?.get('contraseña')?.invalid &&
          registerForm3?.get('contraseña')?.touched
        "
      >
        <p *ngIf="registerForm3?.get('contraseña')?.errors?.['required']">
          Este campo es obligatorio
        </p>
        <p *ngIf="registerForm3?.get('contraseña')?.errors?.['minlength']">
          Introduce como mínimo 8 caracteres
        </p>
      </div>

      <label
        class="text-lg sm:text-xl md:text-2xl py-2 block text-gray-400 uppercase"
        for="confirmContraseña"
      >
        Confirmar Contraseña
      </label>
      <input
        class="w-full bg-gray-200 rounded-xl p-2 sm:p-3 shadow-md border border-gray-300 text-lg sm:text-xl md:text-2xl"
        type="password"
        name="confirmContraseña"
        placeholder="Ingrese de nuevo su contraseña"
        id="confirmContraseña"
        formControlName="confirmContraseña"
      />
      <div
        class="text-red-500 animate-fadeIn text-sm sm:text-base md:text-lg"
        *ngIf="
          registerForm3?.get('confirmContraseña')?.invalid &&
          registerForm3?.get('confirmContraseña')?.touched
        "
      >
        <p
          *ngIf="registerForm3?.get('confirmContraseña')?.errors?.['required']"
        >
          Este campo es obligatorio
        </p>
        <p
          *ngIf="registerForm3?.get('confirmContraseña')?.errors?.['minlength']"
        >
          Introduce como mínimo 8 caracteres
        </p>
      </div>
    </form>

    <div class="animate-fadeIn" [class.show]="showMessage">
      <p class="p-2 text-red-600 text-sm sm:text-base md:text-lg">
        {{ errorMessage }}
      </p>
    </div>

    <div
      *ngIf="showMessage2"
      class="animacion w-full sm:w-[60%] md:w-[40%] m-auto bg-green-100 border-l-4 border-green-500 text-green-700 p-4 sm:p-6 mt-6 sm:mt-8"
      [ngClass]="{
        success: messageType == 'success',
        error: messageType == 'error'
      }"
      role="alert"
    >
      <p class="text-sm sm:text-base md:text-lg">{{ message }}</p>
    </div>

    <div
      class="mt-6 sm:mt-8 md:mt-10 flex flex-col sm:flex-row justify-between gap-4"
    >
      <button
        (click)="changeTemplate('register2')"
        class="p-2 sm:p-3 text-white rounded-xl bg-gray-500 uppercase shadow-md flex items-center justify-center cursor-pointer text-lg sm:text-xl md:text-2xl"
      >
        <span class="material-icons mr-2">keyboard_backspace</span> Volver
      </button>
      <button
        [disabled]="isSubmitting && registerForm3.invalid"
        (click)="
          validateEqual(
            'contraseña',
            'confirmContraseña',
            'las contraseñas no coinciden'
          )
        "
        class="p-2 sm:p-3 text-white rounded-xl bg-red-700 uppercase shadow-md flex items-center justify-center cursor-pointer text-lg sm:text-xl md:text-2xl"
      >
        Registrarse <span class="material-icons ml-2">arrow_forward</span>
      </button>
    </div>
  </div>

  <footer class="text-center mt-auto pb-4 sm:pb-5">
    <p class="font-bold text-white text-sm sm:text-base md:text-lg">
      Si ya tienes cuenta clica
      <a class="text-red-500 hover:underline" href="#">aquí inicia sesión</a>
    </p>
  </footer>
</section>
