<div class="container">
  <div class="featured-movie" *ngIf="featuredMovie">
    <div
      class="featured-image"
      [style.backgroundImage]="
        featuredMovie.imageUrl ? 'url(' + featuredMovie.imageUrl + ')' : 'none'
      "
    ></div>
    <div class="featured-content">
      <h1>{{ featuredMovie.title | uppercase }}</h1>
      <p>{{ featuredMovie.description }}</p>
      <button class="watch-button">VER PELÍCULA</button>
    </div>
  </div>

  <div class="movie-list">
    <h2>Películas</h2>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    <div class="movie-grid">
      <div class="movie-card" *ngFor="let movie of movies">
        <div class="movie-overlay">
          <div class="movie-info">
            <div class="movie-title-year">
              <h4>{{ movie.title }}</h4>
              <span class="movie-year">{{ movie.year || 'N/A' }}</span>
            </div>
            <p class="movie-description">
              {{ movie.description | slice:0:50 }}...
            </p>
            <div class="movie-categories-duration">
              <span class="movie-categories"
                >{{ movie.categories?.join(', ') || 'Sin categorías' }}</span
              >
              <span class="movie-duration">{{ movie.duration || 'N/A' }}</span>
            </div>
          </div>
        </div>
        <img
          [src]="movie.imageUrl || 'assets/placeholder.jpg'"
          alt="{{ movie.title }}"
        />
      </div>
    </div>
    <div *ngIf="categoria" class="pagination">
      <button>1</button>
      <button>2</button>
      <button>3</button>
      <button>4</button>
      <button>5</button>
    </div>
  </div>
</div>
