<section class="flex flex-col items-center justify-center text-center min-h-screen px-4 sm:px-6 lg:px-8">
  <div class="py-5 w-full max-w-[850px] flex flex-col items-center">
    <div>
      <h1 class="uppercase font-[Jaini] text-6xl sm:text-8xl md:text-9xl lg:text-[150px]">
        <span class="text-red-500">{{ llaveIzq }}</span>
        <span class="text-blue-600">{{ llaveIzq }}</span>
        <span class="text-blue-600">Cine</span>
        <span class="text-red-500">Flix</span>
        <span class="text-blue-600">{{ llaveDer }}</span>
        <span class="text-red-500">{{ llaveDer }}</span>
      </h1>
    </div>

    <div class="text-start text-xl sm:text-2xl md:text-3xl w-full max-w-3xl mt-6">
      <h2 class="font-semibold mb-4 sm:mb-5 py-3 sm:py-4">Inicia Sesión</h2>
      <form [formGroup]="loginForm">
        <label class="text-lg sm:text-xl md:text-2xl py-2 block text-gray-400 uppercase" for="email">
          Email
        </label>
        <input
          class="w-full bg-gray-200 rounded-xl p-2 sm:p-3 shadow-md border border-gray-300 text-lg sm:text-xl md:text-2xl"
          type="email"
          name="email"
          formControlName="email"
          placeholder="Ingrese su Email"
          id="email"
        />

        <div
          *ngIf="loginForm?.get('email')?.invalid && loginForm?.get('email')?.touched"
          class="text-red-500 animate-fadeIn text-sm sm:text-base md:text-lg"
        >
          <p *ngIf="loginForm?.get('email')?.errors?.['required']">
            Este campo es obligatorio
          </p>
          <p *ngIf="loginForm?.get('email')?.errors?.['email']">
            El correo no es válido
          </p>
        </div>

        <label class="text-lg sm:text-xl md:text-2xl py-2 block text-gray-400 uppercase" for="password">
          Contraseña
        </label>
        <input
          class="w-full bg-gray-200 rounded-xl p-2 sm:p-3 shadow-md border border-gray-300 text-lg sm:text-xl md:text-2xl"
          type="password"
          name="password"
          formControlName="password"
          placeholder="Ingrese su Contraseña"
          id="password"
        />

        <div
          *ngIf="loginForm?.get('password')?.invalid && loginForm?.get('password')?.touched"
          class="text-red-500 animate-fadeIn text-sm sm:text-base md:text-lg"
        >
          <p *ngIf="loginForm?.get('password')?.errors?.['required']">
            Este campo es obligatorio
          </p>
          <p *ngIf="loginForm?.get('password')?.errors?.['minlength']">
            La contraseña debe tener mínimo 8 caracteres
          </p>
        </div>
      </form>

      <div class="mt-6 sm:mt-8 md:mt-10 flex justify-center">
        <button
          [disabled]="loginForm.invalid"
          (click)="loginUser()"
          class="p-2 sm:p-3 text-white rounded-xl bg-red-700 uppercase shadow-md flex items-center cursor-pointer text-lg sm:text-xl md:text-2xl"
        >
          Iniciar Sesión <span class="material-icons ml-2">arrow_forward</span>
        </button>
      </div>

      <div
        [hidden]="!showMessage"
        class="animacion w-full sm:w-[60%] md:w-[40%] m-auto bg-green-100 border-l-4 border-green-500 text-green-700 p-4 sm:p-6 mt-6 sm:mt-8"
        [ngClass]="{
          success: messageType == 'success',
          error: messageType == 'error'
        }"
        role="alert"
      >
        <p class="text-sm sm:text-base md:text-lg">{{ message }}</p>
      </div>
    </div>
  </div>

  <footer class="text-center mt-auto pb-4 sm:pb-5">
    <p class="font-bold text-white text-sm sm:text-base md:text-lg">
      Si no tienes cuenta clica
      <a class="text-red-500 hover:underline" href="/Register">aquí para registrarte</a>
    </p>
  </footer>
</section>