<section>
  <form (ngSubmit)="guardarCambios()">
    <div class="profile-container">
      <div class="profile-card">
        <img src="asset/M_de_Marc.png" alt="Perfil" class="profile-img" />

        <h3>Nombre Completo</h3>
        <div class="profile-info">
          <input
            type="text"
            [(ngModel)]="usuario.nombre"
            name="name"
            disabled
          />
        </div>
      </div>

      <div class="profile-details">
        <h2>Datos Adicionales</h2>
        <hr />
        <label for="email">Correo Electrónico</label>
        <div class="email-container">
          <input
            type="text"
            [(ngModel)]="usuario.email"
            name="email"
            disabled
          />
        </div>

        <div class="button-group">
          <button class="btn rojo">Modificar Email</button>
          <button class="btn rojo">Modificar Contraseña</button>
        </div>

        <button class="btn rojo full-width">Modificar</button>
      </div>
    </div>
  </form>
  <div *ngIf="showMessage" class="message" [ngClass]="messageType">
    {{ message }}
  </div>
</section>
