@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animacion {
    animation: fadeIn ease-in-out 0.3s;
    margin-top: calc(var(--spacing) * 15);
}

.animate-fadeIn {
    animation: fadeIn 0.3s ease-in-out;
}

.success {
    background-color: #DCFCE7;
    border-left: 4px solid #48bb78;
    color: #2f855a;
    padding: 1rem;
}

.error {
    background-color: #FEE2E2;
    border-left: 4px solid #f56565;
    color: #af2424;
    padding: 1rem;
}

/* ---- */
