<section class="min-h-screen bg-gray-100 py-25 px-6">
  <div class="w-full">
    <h2 class="text-3xl font-bold text-center mb-8 text-gray-800">
      Panel de Películas
    </h2>
    <div class="text-right mb-6">
      <button
        (click)="crearNuevaPelicula()"
        class="bg-blue-600 cursor-pointer hover:bg-blue-700 text-white px-6 py-3 rounded-full shadow-lg transition duration-200"
      >
        Crear Nueva Película
      </button>
    </div>
    <div
      *ngIf="editando || creando"
      class="bg-white p-8 rounded-lg shadow-lg mb-8 max-w-4xl mx-auto"
    >
      <h3 class="text-2xl font-semibold mb-6 text-gray-700">
        {{ editando ? "Editar Película" : "Nueva Película" }}
      </h3>
      <form
        (ngSubmit)="guardar()"
        class="grid grid-cols-1 md:grid-cols-2 gap-6"
      >
        <div class="flex flex-col">
          <label for="title" class="block font-medium text-gray-600 mb-2"
            >Title</label
          >
          <input
            type="text"
            [(ngModel)]="peliculaForm.title"
            name="title"
            placeholder="Title"
            class="border p-3 rounded-lg w-full"
          />
        </div>
        <div class="flex flex-col">
          <label for="description" class="block font-medium text-gray-600 mb-2"
            >Description</label
          >
          <textarea
            [(ngModel)]="peliculaForm.description"
            name="description"
            placeholder="Description"
            class="border p-3 rounded-lg w-full h-32 resize-none"
          ></textarea>
        </div>
        <div class="flex flex-col">
          <label for="year" class="block font-medium text-gray-600 mb-2"
            >Year</label
          >
          <input
            type="text"
            [(ngModel)]="peliculaForm.year"
            name="year"
            placeholder="Year"
            class="border p-3 rounded-lg w-full"
          />
        </div>
        <div class="flex flex-col">
          <label for="duration" class="block font-medium text-gray-600 mb-2"
            >Duration</label
          >
          <input
            type="number"
            [(ngModel)]="peliculaForm.duration"
            name="duration"
            placeholder="Duration (min)"
            class="border p-3 rounded-lg w-full"
          />
        </div>
        <div class="flex flex-col">
          <label for="imageUrl" class="block font-medium text-gray-600 mb-2"
            >Poster</label
          >
          <input
            type="text"
            [(ngModel)]="peliculaForm.imageUrl"
            name="imageUrl"
            placeholder="Poster URL"
            class="border p-3 rounded-lg w-full"
          />
        </div>
        <div class="flex flex-col">
          <label for="trailer" class="block font-medium text-gray-600 mb-2"
            >Trailer</label
          >
          <input
            type="text"
            [(ngModel)]="peliculaForm.trailer"
            name="trailer"
            placeholder="Trailer URL"
            class="border p-3 rounded-lg w-full"
          />
        </div>
        <div class="col-span-full flex flex-col">
          <label for="actors" class="block font-medium text-gray-600 mb-2"
            >Select Actors</label
          >
          <select
            multiple
            [(ngModel)]="peliculaForm.actors"
            name="actors"
            class="border p-3 w-full rounded-lg"
          >
            <option *ngFor="let actor of actores" [ngValue]="actor">
              {{ actor.name }}
            </option>
          </select>
        </div>
        <div class="col-span-full flex justify-end gap-4 mt-6">
          <button
            type="button"
            (click)="resetForm()"
            class="px-6 cursor-pointer py-3 bg-gray-300 rounded-lg text-gray-700 hover:bg-gray-400 transition"
          >
            Cancelar
          </button>
          <button
            type="submit"
            class="px-6 cursor-pointer py-3 bg-green-600 text-white rounded-lg hover:bg-green-700 transition"
          >
            Guardar
          </button>
        </div>
      </form>
    </div>
    <div class="overflow-x-auto mb-10">
      <table
        class="w-full mx-auto table-auto border-collapse rounded-lg shadow-lg"
      >
        <thead>
          <tr>
            <th
              class="px-6 py-4 text-left text-white"
              style="background-color: #e53935"
            >
              Title
            </th>
            <th
              class="px-6 py-4 text-left text-white"
              style="background-color: #e53935"
            >
              Description
            </th>
            <th
              class="px-6 py-4 text-left text-white"
              style="background-color: #e53935"
            >
              Year
            </th>
            <th
              class="px-6 py-4 text-left text-white"
              style="background-color: #e53935"
            >
              Duration
            </th>
            <th
              class="px-6 py-4 text-left text-white"
              style="background-color: #e53935"
            >
              Poster
            </th>
            <th
              class="px-6 py-4 text-left text-white"
              style="background-color: #e53935"
            >
              Trailer
            </th>
            <th
              class="px-6 py-4 text-left text-white"
              style="background-color: #e53935"
            >
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of peliculas" class="border-t">
            <td class="px-6 py-4 text-gray-800">{{ p.title }}</td>
            <td class="px-6 py-4 text-gray-800">{{ p.description }}</td>
            <td class="px-6 py-4 text-gray-800">{{ p.year }}</td>
            <td class="px-6 py-4 text-gray-800">{{ p.duration }} min</td>
            <td class="px-6 py-4">
              <img
                [src]="p.imageUrl"
                alt="poster"
                class="w-20 h-28 object-cover mx-auto rounded-md shadow-sm"
              />
            </td>
            <td class="px-6 py-4 truncate max-w-xs text-gray-600">
              {{ p.trailer }}
            </td>
            <td class="px-6 py-4 space-x-2 flex items-center">
              <button
                (click)="editar(p)"
                class="bg-blue-500 hover:bg-blue-600 cursor-pointer text-white p-5 rounded-full transition"
                title="Edit"
              >
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <button
                (click)="eliminar(p.id_pelicula!)"
                class="bg-red-500 hover:bg-red-600 cursor-pointer text-white p-5 rounded-full transition"
                title="Delete"
              >
                <i class="fa-solid fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
